body{
    background-image: url("myBackground.jpg");
    background-size: cover;
    background-position: center;
}
#nav-table {
    width: 800px;
}

#nav-td {
    width: 266px; text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float:left;
}

h1 {
    color:brown;
}